* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: dimgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
}

.cpf {
    margin-right: 18px;
}

.telefone{
    margin-right: 6px;
}

.form {
    margin: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: burlywood;
    
}

form a{
    text-decoration: none;
    border: 1px solid black;
    padding: 8px 70px 8px 70px;
    border-radius: 5px;
}

form a:hover{
    background-color: cadetblue;
    color: black;
    transition: all 0.5s;
}

.inputcamp {
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    background-color: darkslategray;
    color: white;
}

.inputcamp::-webkit-input-placeholder {
    color: white;
}

.btn{
    padding: 8px;
    border-radius: 5px;
}
